.footer {
	.top {
		background-color: #202020;
		padding: 60px 0 50px 0;

		display: flex;
		align-items: center;
		flex-direction: column;

		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0 15px;

			> li {
				padding: 15px 15px;

				> a {
					color: white;
					font-size: 14px;
					&:hover {
						color: #02a6d6;
					}
				}
			}
		}
		.copyright {
			padding-top: 35px;
			margin-bottom: 15px;

			> p {
				font-size: 11.2px;
				color: #808080;
			}
		}
	}

	.bottom {
		a {
			> img {
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				height: 75px;
				vertical-align: bottom;
				width: 100px;
				color: grey;
				opacity: 0.6;
				&:hover {
					opacity: 1;
				}
			}
		}

		display: flex;
		align-items: center;
		padding-left: 25px;
		max-width: 1000px;
		margin: 0 auto;

		padding-bottom: 30px;

		.left {
			margin-top: auto;
			a img {
				opacity: 1;
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;

			> p {
				margin: 50px auto 40px auto;
				opacity: 0.8;
				font-size: 14px;
			}

			ul {
				border-left: 1px solid hsla(0, 0%, 100%, 0.2);
				margin-left: 50px;
				list-style: none;
				display: flex;
				padding-left: 75px;
				> li {
					padding-left: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		.bottom {
			justify-content: center;
			flex-direction: column;
			padding: 0;
			padding-bottom: 30px;

			.right {
				width: 100%;
				p {
					margin: 10px 0 10px 0;
					text-align: center;
				}
				ul {
					width: 80%;
					border-left: none;
					margin: 0;
					padding: 0;
					justify-content: space-between;
					li {
						padding: 15px 0px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 876px) {
	.footer {
		.bottom .right ul {
			width: 40%;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
